<header class="header">
  <h1>Scraper App</h1>
  <nav class="button-group">
    <button class="button-dark" id="scrape">Scrape Articles</button>
  </nav>
</header>

<div class="filler"></div>

<div>

{{#each items}}
  {{!-- <p>hello</p> --}}
{{items.storyUrl}}
{{headline}}
{{/each}}

</div>



