<header class="header">
  <div class="col-md-12 jumbotron">
    <div class="text-center">
      <h1>Scraper App</h1>
    </div>
  </div>

  <nav class="button-group">
    <button class="button-dark" id="scrape">Scrape Article</button>
    <button class="button-dark" data-id={{this._id}}>Save Article</button>
  </nav>
</header>

<div class="filler"></div>

<div>

  {{#each article}}
  {{!-- <p>hello</p> --}}
  {{this.storyUrl}}
  {{this.headline}}
  {{/each}}

</div>
