<header class="header">
  <div class="col-md-12 jumbotron">
    <div class="text-center">
      <h1>Saved Articles</h1>
    </div>
  </div>
</header>

<div class="filler"></div>

<div>

  {{#each article}}
  {{!-- <p>hello</p> --}}
  {{this.storyUrl}}
  {{this.headline}}
  {{/each}}
</div>