<header class="header">
  <div class="col-md-12 jumbotron">
    <div class="text-center">
      <h1>Saved Articles</h1>
    </div>
  </div>
</header>


<div class="filler"></div>

<div>

  {{#each items}}
    {{#if saved}}
    
      <p>{{this.title}}</p>
      <p>{{this.link}}</p>
      

  {{/if}}
  {{/each}}

</div>
