<header class="header">
  <div class="col-md-12 jumbotron">
    <div class="text-center">
      <h1>Scraper App</h1>
      <h2>Saved Articles</h2>
    </div>

    <nav class="button-group">
      <button class="button-dark" id="scrape">Home</button>
      <button class="button-dark" id="scrape">Scrape Articles</button>
      <button class="button-dark" id="savedarticles">Saved Article</button>
    </nav>
</header>


<div class="filler"></div>

<div>

  {{#each items}}
  {{#if saved}}

  <p>{{this.title}}</p>
  <p>{{this.link}}</p>


  {{/if}}
  {{/each}}

</div>